usage: auto [-h] [--file AUTO_PATH] [--exact] [--verbosity V] [--version]
            S [S ...]
auto: error: Could not find auto file at: /home/limyreth/.texttest/tmp/tt.24Jun000630.3682/tt/missing_auto/auto.py
