# test that the correct actions are followed to reach state
correct_actions

# states can be specified either as 'state a' or state_a
underscore_in_states
unknown_state
unreachable_state
verbose0
verbose1
verbose2
verbose_default
